QRadioButton:focus{
     background-color: rgb(0, 0, 255);/*    ?*/
     
}
QCheckBox:focus{

     background-color: rgb(0, 0, 255);/*    ?*/
}
QPushButton:focus{

     background-color: rgb(0, 0, 255);/*    ?*/
}
QCheckBox::indicator:checked {
     image: url(:/dagou.png);
}