QRadioButton:focus{
     background-color: rgb(0, 0, 255);/*±³¾°É«*/   
}
QCheckBox:focus{
     background-color: rgb(0, 0, 255);/*±³¾°É«*/
}
QPushButton:focus{

     background-color: rgb(0, 0, 255);/*±³¾°É«*/
}
QToolButton:focus{

     background-color: rgb(0, 0, 255);/*±³¾°É«*/
     font: 16pt	
}
